#bannercontainer  {
    @extend %conbox;
    height: 480px;

    img{

        width: 100%;
        height: 100%;
        float: left;
    }
    background:map-get($colors,a) ;
       .banner{
        @extend %box;
        height: 480px;
        background:map-get($colors,d) ;
        position: relative;
         
        }
}
.bannerleft{
    ul{    
        position: absolute;   
        left: 0;
        top: 0;
        li{ 
            line-height: 60px;
            span{
               float: left;
              
            }               
            width:226px ;
            height: 60px;
        }
    }
}
.bannerright{
    position: absolute;
    left:226px ;
    ul{     
        li{
            width: 450px;
            height: 80px;
            line-height: 80px;
            border-bottom: 1px solid grey;
        }
    }
    .hide{
        display: none;
    }
}
