$page_width:1190px;
#top {
    @extend %conbox;
    background: map-get($colors , d );
    .main{
        @extend %box; 
        background: map-get($colors , b );
        .mainleft{
            ul{
                li{
                    a{
                    
                    }
                }
            }
        }
        .mainright{

        }
    }
}