#top{
    @extend %conbox; 
    height: $top_height;  
    background:#333333 ;
    .main{
        @extend %box;
        height: $top_height;
        background:#333333 ;
        .mainleft{
            ul{
                float: left;
                li:first-child{
                    background: #555555;
                }
                li:hover{
                    background: #555555;
                }
                li{ 
                    width: 145px;
                    float: left;
                    text-align: center;
                    i{
                        color: white !important;
                    }   
                    a{
                        display: inline-block;
                        height: $top_height;
                        text-align: center;
                        color: #ffffff;
                        font-size: 13px;
                        line-height: $top_height;
                        text-decoration: none;                   
                    }
                }
                li:last-child{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    a{
                        margin-left: 5px;
                    }
                }
            }
        }
        .mainright{
           ul{
               float: left;
               width:444.71px ;
               li{
                   float: left;
                   width:120px;
                   height: $top_height;
                   display: flex;
                   flex-direction:row ;
                   justify-content: center;
                   align-items: center;
                   line-height:$top_height ;
                   color: white;
                 
                   p{
                       margin-left: 10px;
                   }
                   a{
                       color: white;
                   }
                   span{
                       color: white;
                   }
               }
             
               li:first-child{
                width: 84.71px;
                padding: 0;
                display: flex;
                flex-direction:row ;
                justify-content: space-between;
                align-items: center;
                a:hover{
                    color: red;
                }
               }
               li:nth-child(2){
                    position: relative;                 
               }
               li:nth-child(2):hover{
                 background: #555555;
               }
               li:nth-child(2):hover .mychanghong{
                display: block;
              }
              li:nth-child(3){
                  position: relative;
                  img{
                      position: absolute;
                      left: 0;
                      top: $top_height;
                      z-index: 100;
                      display: none;
                  }
              }
              li:nth-child(3):hover{
                background: #555555;
              }
              li:nth-child(3):hover img{
                  display: block;
              }
           }
        }
    }
}
.mychanghong{
    position: absolute;
    left: 0;
    top: $top_height;
    z-index: 100;
    display: none;
    width: 240px;
    height: 240px;
    background: white;
    padding: 20px 20px 40px 20px;
}
.myleft{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h2{
        padding-right: 20px;
       a{
        color: blue !important;
       }
    }
    p{
        font-size: 12px;
        a{
            color: blue !important;
           }
    }
}
.myright{
    p{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        a{
            color: black  !important;
        }
        span{
            color: black  !important;
        }
    }
    p:nth-child(3){
        span{
             display: none;
         }
    }
}