$page_width:1190px;
#top .main ul li a {
    display: block;
    height: 35px;
    width: 145px;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    line-height: 35px;
    float: left;
    text-decoration: none;
}