#water{
    @extend %box;
    background: map-get($colors, f);
    height: 60px;
}

.waterleft{
    width: 215px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: left;
    p{
        border-left: 4px solid #ff9c00;
        padding-left: 13px;
    }
}
.waterright{
    float: right;
    width: 120px;
    height: 100%;
      ul{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
}