$page_width:1226px;
$banner_width:1920px;
$page_container:100%;
$page_size:14px;
$div_margin:10px;
$top_height:35px;
@import "compass/reset";
$colors:(a:#ffa,b:#ccc,c:#f00,d:#0f0,e:#00f);
%conbox {
    width: $page_container;
    height: 300px;
    margin: 0 auto;
}
%box {
    width: $page_width;
    height: 300px;
    margin: 0 auto;
}
%banbox{
    width: $banner_width;
    height: 300px;
    margin: 0 auto;
}
//头部


@import "top";
@import "nav";
@import "bannercontainer ";
@import "notice";
@import "noticemain";
@import "TV";
@import "TVmain";
@import "air";
@import "airmain";
@import "water";
@import "watermain";
@import "life";
@import "lifemain";
@import "around";
@import "aroundmain";
@import "flow";
@import "footer";
//背景图



//公告









