@charset "UTF-8";
/* line 5, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/index.scss */
#top, #bannercontainer {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

/* line 14, ../sass/index.scss */
#top .main, #nav, #bannercontainer .banner, #notice, #noticemain, #TV, #TVmain, #air, #airmain, #water, #watermain, #life, #lifemain, #around, #aroundmain, #flow, #footer {
  width: 1226px;
  height: 300px;
  margin: 0 auto;
}

/* line 1, ../sass/_top.scss */
#top {
  height: 35px;
  background: #333333;
}
/* line 5, ../sass/_top.scss */
#top .main {
  height: 35px;
  background: #333333;
}
/* line 10, ../sass/_top.scss */
#top .main .mainleft ul {
  float: left;
}
/* line 12, ../sass/_top.scss */
#top .main .mainleft ul li:first-child {
  background: #555555;
}
/* line 15, ../sass/_top.scss */
#top .main .mainleft ul li:hover {
  background: #555555;
}
/* line 18, ../sass/_top.scss */
#top .main .mainleft ul li {
  width: 145px;
  float: left;
  text-align: center;
}
/* line 22, ../sass/_top.scss */
#top .main .mainleft ul li i {
  color: white !important;
}
/* line 25, ../sass/_top.scss */
#top .main .mainleft ul li a {
  display: inline-block;
  height: 35px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  line-height: 35px;
  text-decoration: none;
}
/* line 35, ../sass/_top.scss */
#top .main .mainleft ul li:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* line 40, ../sass/_top.scss */
#top .main .mainleft ul li:last-child a {
  margin-left: 5px;
}
/* line 47, ../sass/_top.scss */
#top .main .mainright ul {
  float: left;
  width: 444.71px;
}
/* line 50, ../sass/_top.scss */
#top .main .mainright ul li {
  float: left;
  width: 120px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 35px;
  color: white;
}
/* line 61, ../sass/_top.scss */
#top .main .mainright ul li p {
  margin-left: 10px;
}
/* line 64, ../sass/_top.scss */
#top .main .mainright ul li a {
  color: white;
}
/* line 67, ../sass/_top.scss */
#top .main .mainright ul li span {
  color: white;
}
/* line 72, ../sass/_top.scss */
#top .main .mainright ul li:first-child {
  width: 84.71px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* line 79, ../sass/_top.scss */
#top .main .mainright ul li:first-child a:hover {
  color: red;
}
/* line 83, ../sass/_top.scss */
#top .main .mainright ul li:nth-child(2) {
  position: relative;
}
/* line 86, ../sass/_top.scss */
#top .main .mainright ul li:nth-child(2):hover {
  background: #555555;
}
/* line 89, ../sass/_top.scss */
#top .main .mainright ul li:nth-child(2):hover .mychanghong {
  display: block;
}
/* line 92, ../sass/_top.scss */
#top .main .mainright ul li:nth-child(3) {
  position: relative;
}
/* line 94, ../sass/_top.scss */
#top .main .mainright ul li:nth-child(3) img {
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 100;
  display: none;
}
/* line 102, ../sass/_top.scss */
#top .main .mainright ul li:nth-child(3):hover {
  background: #555555;
}
/* line 105, ../sass/_top.scss */
#top .main .mainright ul li:nth-child(3):hover img {
  display: block;
}

/* line 112, ../sass/_top.scss */
.mychanghong {
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 100;
  display: none;
  width: 240px;
  height: 240px;
  background: white;
  padding: 20px 20px 40px 20px;
}

/* line 123, ../sass/_top.scss */
.myleft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* line 128, ../sass/_top.scss */
.myleft h2 {
  padding-right: 20px;
}
/* line 130, ../sass/_top.scss */
.myleft h2 a {
  color: blue !important;
}
/* line 134, ../sass/_top.scss */
.myleft p {
  font-size: 12px;
}
/* line 136, ../sass/_top.scss */
.myleft p a {
  color: blue !important;
}

/* line 142, ../sass/_top.scss */
.myright p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* line 147, ../sass/_top.scss */
.myright p a {
  color: black  !important;
}
/* line 150, ../sass/_top.scss */
.myright p span {
  color: black  !important;
}
/* line 155, ../sass/_top.scss */
.myright p:nth-child(3) span {
  display: none;
}

/* line 1, ../sass/_nav.scss */
#nav {
  height: 78px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* line 9, ../sass/_nav.scss */
#nav li {
  float: left;
  width: 90px;
  height: 78px;
  line-height: 78px;
  text-align: center;
  font-family: "Microsoft YaHei", "微软雅黑", "Arial", sans-serif !important;
}

/* line 1, ../sass/_bannercontainer.scss */
#bannercontainer {
  height: 480px;
  position: relative;
}
/* line 13, ../sass/_bannercontainer.scss */
#bannercontainer .banner {
  height: 480px;
  position: relative;
}

/* line 20, ../sass/_bannercontainer.scss */
.bannerleft .firsrUl {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 24, ../sass/_bannercontainer.scss */
.bannerleft .firsrUl li {
  line-height: 60px;
  width: 226px;
  height: 60px;
}
/* line 26, ../sass/_bannercontainer.scss */
.bannerleft .firsrUl li span {
  float: left;
  margin-left: 30px;
  margin-right: 20px;
}
/* line 34, ../sass/_bannercontainer.scss */
.bannerleft .firsrUl li:hover {
  background: red;
}
/* line 37, ../sass/_bannercontainer.scss */
.bannerleft .firsrUl li:nth-child(1):hover .bannerright ul {
  display: block;
}

/* line 42, ../sass/_bannercontainer.scss */
.bannerright {
  position: absolute;
  left: 226px;
}
/* line 45, ../sass/_bannercontainer.scss */
.bannerright ul {
  display: none;
}
/* line 47, ../sass/_bannercontainer.scss */
.bannerright ul li {
  width: 450px;
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid grey;
}

/* line 58, ../sass/_bannercontainer.scss */
.piclist li {
  position: absolute;
  left: 0px;
  top: 0;
  opacity: 0;
}
/* line 63, ../sass/_bannercontainer.scss */
.piclist li img {
  width: 100%;
  height: 480px;
  display: block;
}

/* line 74, ../sass/_bannercontainer.scss */
.btnlist {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* line 81, ../sass/_bannercontainer.scss */
.btnlist li {
  float: left;
  width: 5px;
  height: 5px;
  background: white;
  text-indent: -99999px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 50%;
}

/* line 95, ../sass/_bannercontainer.scss */
#left,
#right {
  font-size: 64px;
  color: #fff;
  position: absolute;
  top: 150px;
  text-decoration: none;
}

/* line 104, ../sass/_bannercontainer.scss */
#left {
  left: 30px;
}

/* line 108, ../sass/_bannercontainer.scss */
#right {
  right: 30px;
}

/* line 112, ../sass/_bannercontainer.scss */
.btnlist .active {
  background: red;
}

/* line 1, ../sass/_notice.scss */
#notice {
  height: 38px;
  background: #f9f9f9;
  line-height: 38px;
}
/* line 6, ../sass/_notice.scss */
#notice span {
  float: left;
  margin-right: 5px;
}
/* line 10, ../sass/_notice.scss */
#notice p {
  float: left;
}

/* line 1, ../sass/_noticemain.scss */
#noticemain {
  height: 160px;
  background: #f9f9f9;
  margin-bottom: 30px;
}

/* line 7, ../sass/_noticemain.scss */
.noticeleft {
  width: 226px;
  height: 100%;
  float: left;
}
/* line 12, ../sass/_noticemain.scss */
.noticeleft ul li {
  float: left;
  width: 113px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* line 23, ../sass/_noticemain.scss */
.noticeright {
  width: 1000px;
  height: 100%;
  float: left;
}
/* line 27, ../sass/_noticemain.scss */
.noticeright ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* line 32, ../sass/_noticemain.scss */
.noticeright ul li {
  margin-left: 13px;
  float: left;
}

/* line 1, ../sass/_TV.scss */
#TV {
  height: 60px;
}

/* line 5, ../sass/_TV.scss */
.TVleft {
  width: 215px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  float: left;
}
/* line 13, ../sass/_TV.scss */
.TVleft p {
  border-left: 4px solid #ca694e;
  padding-left: 13px;
}

/* line 18, ../sass/_TV.scss */
.TVright {
  float: right;
  width: 463px;
  height: 100%;
}
/* line 22, ../sass/_TV.scss */
.TVright ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 1, ../sass/_TVmain.scss */
#TVmain {
  margin-bottom: 30px;
  height: 630px;
}

/* line 6, ../sass/_TVmain.scss */
.TVmainleft {
  width: 226px;
  height: 100%;
  float: left;
}
/* line 10, ../sass/_TVmain.scss */
.TVmainleft img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 16, ../sass/_TVmain.scss */
.TVmainright {
  float: left;
  width: 1000px;
  height: 100%;
}
/* line 21, ../sass/_TVmain.scss */
.TVmainright ul li {
  width: 240px;
  height: 310px;
  float: left;
  border: 1px solid black;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/* line 33, ../sass/_TVmain.scss */
.TVmainright ul li a {
  font-size: 14px;
  color: #000;
  font-weight: normal;
}
/* line 38, ../sass/_TVmain.scss */
.TVmainright ul li p {
  font-size: 12px;
}
/* line 41, ../sass/_TVmain.scss */
.TVmainright ul li h2 {
  color: red;
}

/* line 1, ../sass/_air.scss */
#air {
  height: 60px;
}

/* line 7, ../sass/_air.scss */
.airleft {
  width: 215px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  float: left;
}
/* line 15, ../sass/_air.scss */
.airleft p {
  border-left: 4px solid  #759dfc;
  padding-left: 13px;
}

/* line 20, ../sass/_air.scss */
.airright {
  float: right;
  width: 200px;
  height: 100%;
}
/* line 24, ../sass/_air.scss */
.airright ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 1, ../sass/_airmain.scss */
#airmain {
  margin-bottom: 30px;
  height: 630px;
}

/* line 6, ../sass/_airmain.scss */
.airmainleft {
  width: 226px;
  height: 100%;
  float: left;
}
/* line 10, ../sass/_airmain.scss */
.airmainleft img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 16, ../sass/_airmain.scss */
.airmainright {
  float: left;
  width: 1000px;
  height: 100%;
}
/* line 21, ../sass/_airmain.scss */
.airmainright ul li {
  width: 240px;
  height: 310px;
  float: left;
  border: 1px solid black;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
}
/* line 34, ../sass/_airmain.scss */
.airmainright ul li a {
  font-size: 14px;
  color: #000;
  font-weight: normal;
}
/* line 39, ../sass/_airmain.scss */
.airmainright ul li p {
  font-size: 12px;
}
/* line 42, ../sass/_airmain.scss */
.airmainright ul li h2 {
  color: red;
}

/* line 1, ../sass/_water.scss */
#water {
  height: 60px;
}

/* line 7, ../sass/_water.scss */
.waterleft {
  width: 215px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  float: left;
}
/* line 15, ../sass/_water.scss */
.waterleft p {
  border-left: 4px solid #ff9c00;
  padding-left: 13px;
}

/* line 20, ../sass/_water.scss */
.waterright {
  float: right;
  width: 120px;
  height: 100%;
}
/* line 24, ../sass/_water.scss */
.waterright ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 1, ../sass/_watermain.scss */
#watermain {
  height: 630px;
  margin-bottom: 30px;
}

/* line 6, ../sass/_watermain.scss */
.watermainleft {
  width: 226px;
  height: 100%;
  float: left;
}
/* line 10, ../sass/_watermain.scss */
.watermainleft img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 16, ../sass/_watermain.scss */
.watermainright {
  float: left;
  width: 1000px;
  height: 100%;
}
/* line 21, ../sass/_watermain.scss */
.watermainright ul li {
  width: 240px;
  height: 310px;
  float: left;
  border: 1px solid black;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/* line 33, ../sass/_watermain.scss */
.watermainright ul li a {
  font-size: 14px;
  color: #000;
  font-weight: normal;
}
/* line 38, ../sass/_watermain.scss */
.watermainright ul li p {
  font-size: 12px;
}
/* line 41, ../sass/_watermain.scss */
.watermainright ul li h2 {
  color: red;
}

/* line 1, ../sass/_life.scss */
#life {
  height: 60px;
}

/* line 7, ../sass/_life.scss */
.lifeleft {
  width: 215px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  float: left;
}
/* line 15, ../sass/_life.scss */
.lifeleft p {
  border-left: 4px solid #c59ac7;
  padding-left: 13px;
}

/* line 20, ../sass/_life.scss */
.liferight {
  float: right;
  width: 225px;
  height: 100%;
}
/* line 24, ../sass/_life.scss */
.liferight ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 1, ../sass/_lifemain.scss */
#lifemain {
  background: #ffa;
  height: 630px;
  margin-bottom: 30px;
}

/* line 7, ../sass/_lifemain.scss */
.lifermainleft {
  width: 226px;
  height: 100%;
  float: left;
}
/* line 11, ../sass/_lifemain.scss */
.lifermainleft img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 17, ../sass/_lifemain.scss */
.lifermainright {
  float: left;
  width: 1000px;
  height: 100%;
}
/* line 22, ../sass/_lifemain.scss */
.lifermainright ul li {
  width: 240px;
  height: 310px;
  float: left;
  border: 1px solid black;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/* line 34, ../sass/_lifemain.scss */
.lifermainright ul li a {
  font-size: 14px;
  color: #000;
  font-weight: normal;
}
/* line 39, ../sass/_lifemain.scss */
.lifermainright ul li p {
  font-size: 12px;
}
/* line 42, ../sass/_lifemain.scss */
.lifermainright ul li h2 {
  color: red;
}

/* line 1, ../sass/_around.scss */
#around {
  height: 60px;
  position: relative;
}
/* line 6, ../sass/_around.scss */
#around p {
  position: absolute;
  top: 20px;
  border-left: 4px solid  #ff9c00;
}

/* line 1, ../sass/_aroundmain.scss */
#aroundmain {
  height: 310px;
  margin-bottom: 50px;
}

/* line 7, ../sass/_aroundmain.scss */
.aroundleft {
  width: 226px;
  height: 100%;
  float: left;
}

/* line 12, ../sass/_aroundmain.scss */
.aroundright {
  width: 1000px;
  float: left;
}
/* line 15, ../sass/_aroundmain.scss */
.aroundright ul {
  width: 1000px;
}
/* line 17, ../sass/_aroundmain.scss */
.aroundright ul li {
  width: 240px;
  height: 310px;
  float: left;
  margin-left: 10px;
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* line 1, ../sass/_flow.scss */
#flow {
  height: 322px;
  background: #efefef;
}

/* line 6, ../sass/_flow.scss */
.flowtop {
  width: 1226px;
  height: 115px;
  width: 1226px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: 1px solid grey;
}
/* line 16, ../sass/_flow.scss */
.flowtop li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* line 23, ../sass/_flow.scss */
.flowtop li .descrip {
  margin-left: 15px;
}
/* line 27, ../sass/_flow.scss */
.flowtop i {
  font-size: 40px;
}
/* line 30, ../sass/_flow.scss */
.flowtop h1 {
  font-size: 18px;
}
/* line 33, ../sass/_flow.scss */
.flowtop p {
  font-size: 14px;
  color: grey;
  margin-top: 10px;
}

/* line 39, ../sass/_flow.scss */
.flowmiddle {
  width: 100%;
  height: 177px;
  padding: 20px;
}

/* line 44, ../sass/_flow.scss */
.flowfirst {
  width: 360px;
  height: 145px;
  float: left;
}
/* line 48, ../sass/_flow.scss */
.flowfirst ul {
  float: left;
  margin-left: 30px;
}
/* line 51, ../sass/_flow.scss */
.flowfirst ul li {
  width: 71px;
  font-size: 12px;
}
/* line 55, ../sass/_flow.scss */
.flowfirst ul li:first-child {
  font-size: 16px;
}
/* line 58, ../sass/_flow.scss */
.flowfirst ul li:nth-child(2) {
  margin-top: 26px;
}
/* line 61, ../sass/_flow.scss */
.flowfirst ul li:nth-child(3) {
  margin-top: 18px;
}
/* line 64, ../sass/_flow.scss */
.flowfirst ul li:nth-child(4) {
  margin-top: 18px;
}
/* line 67, ../sass/_flow.scss */
.flowfirst ul li:nth-child(5) {
  margin-top: 18px;
}
/* line 71, ../sass/_flow.scss */
.flowfirst ul:last-child {
  margin-left: 80px;
}

/* line 75, ../sass/_flow.scss */
.flowsecond {
  width: 200px;
  height: 145px;
  float: left;
  margin: 0 40px;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
/* line 85, ../sass/_flow.scss */
.flowsecond ul {
  float: left;
}
/* line 87, ../sass/_flow.scss */
.flowsecond ul li {
  width: 71px;
  font-size: 12px;
}
/* line 91, ../sass/_flow.scss */
.flowsecond ul li:first-child {
  font-size: 16px;
}
/* line 94, ../sass/_flow.scss */
.flowsecond ul li:nth-child(2) {
  margin-top: 26px;
}
/* line 97, ../sass/_flow.scss */
.flowsecond ul li:nth-child(3) {
  margin-top: 18px;
}
/* line 100, ../sass/_flow.scss */
.flowsecond ul li:nth-child(4) {
  margin-top: 18px;
}
/* line 103, ../sass/_flow.scss */
.flowsecond ul li:nth-child(5) {
  margin-top: 18px;
}

/* line 108, ../sass/_flow.scss */
.flowthird {
  width: 230px;
  height: 145px;
  padding-left: 38px;
  float: left;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
/* line 117, ../sass/_flow.scss */
.flowthird ul li span {
  display: inline-block;
  color: red;
}
/* line 121, ../sass/_flow.scss */
.flowthird ul li p {
  display: inline-block;
  color: red;
}
/* line 126, ../sass/_flow.scss */
.flowthird ul li:nth-child(2) {
  margin-top: 15px;
}
/* line 129, ../sass/_flow.scss */
.flowthird ul li:nth-child(3) {
  margin-top: 27px;
}
/* line 132, ../sass/_flow.scss */
.flowthird ul li:nth-child(4) {
  margin-top: 20px;
}

/* line 137, ../sass/_flow.scss */
.flowfourth {
  width: 316px;
  height: 145px;
  float: left;
}
/* line 141, ../sass/_flow.scss */
.flowfourth ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/* line 146, ../sass/_flow.scss */
.flowfourth ul li {
  text-align: center;
  float: left;
}
/* line 149, ../sass/_flow.scss */
.flowfourth ul li img {
  display: block;
  width: 108px;
  height: 108px;
}
/* line 154, ../sass/_flow.scss */
.flowfourth ul li p {
  margin-top: 10px;
}

/* line 160, ../sass/_flow.scss */
.flowbottom {
  font-size: 16px;
  color: #333333;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
}

/* line 1, ../sass/_footer.scss */
#footer {
  height: 215px;
  background: #333333;
}
/* line 5, ../sass/_footer.scss */
#footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* line 11, ../sass/_footer.scss */
#footer ul li {
  padding-top: 10px;
}
/* line 13, ../sass/_footer.scss */
#footer ul li ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/* line 18, ../sass/_footer.scss */
#footer ul li ul li {
  margin-left: 10px;
  width: 200px;
  margin-top: 30px;
}
/* line 22, ../sass/_footer.scss */
#footer ul li ul li img {
  float: left;
  width: 26px;
  height: 31px;
  vertical-align: center;
}
/* line 30, ../sass/_footer.scss */
#footer ul li img {
  width: 227px;
  height: 36px;
}
/* line 35, ../sass/_footer.scss */
#footer ul li p {
  font-size: 12px;
  color: grey;
  margin: 8px 0;
}

/* line 1, ../sass/_louti.scss */
#louti {
  position: fixed;
  left: 0;
  top: 200px;
}
/* line 6, ../sass/_louti.scss */
#louti ul li {
  width: 45px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid grey;
  font-family: "Microsoft YaHei", "微软雅黑", "Arial", sans-serif;
}
/* line 14, ../sass/_louti.scss */
#louti ul li:hover {
  background: red;
}
